.main_wrapper
  .contents
    = render 'shared/header'
  .main
    = form_with model: @wages, url: eat_wages_path,method: :get, local: true do |f|
      = f.select :worker_id, Worker.all.map { |worker| [worker.fullname, worker.id] }, :include_blank => '名前'
      = f.select :meals, ['100', '150', '300'], include_blank: '値段'
      = f.submit '食べる'