.main_wrapper
  .contents
    = render 'shared/header'

  .form_box
    = form_with model: @shift, url: shift_path, method: :patch, class: 'time_class', local: true do |f|
      .time_class__select
        = f.label '出勤'
        = f.datetime_select :start_at, autofocus: true, date_separator: '/'
      .time_class__select
        = f.label '退勤'
        = f.datetime_select :end_at, autofocus: true, date_separator: '/', discard_year: true
      .time_class__select
        = f.label '休憩'
        = f.datetime_select :rest_start_at, autofocus: true, include_blank: true, date_separator: '/', discard_year: true
      .time_class__select
        = f.label '戻り'
        = f.datetime_select :rest_end_at, autofocus: true, include_blank: true, date_separator: '/', discard_year: true

      .time_class__select
        = f.submit '登録'


  



