.main_wrapper
  .contents
    = render 'shared/header'
    .main
      .side
      .clock_flame
        %span#clock_date 
        %span#clock_time 
      .button_flame
        .button_box
          = form_with model: @shift, url: start_shifts_path, method: :get, local: true do |f|
            = f.select :worker_id, Worker.all.map { |worker| [worker.fullname, worker.id] }, :include_blank => '---'
            = f.hidden_field :start_at, value: Time.now
            = f.submit '出勤', class: 'start_button'
        .button_box
          = form_with model: @shift, url: finish_shifts_path, method: :get, local: true do |f|
            = f.select :worker_id, Worker.all.map { |worker| [worker.fullname, worker.id] }, :include_blank => '---'
            = f.submit '退勤', class: 'end_button'
        .button_box
          = form_with model: @shift, url: rest_time_start_shifts_path, method: :get,local: true do |f|
            = f.select :worker_id, Worker.all.map { |worker| [worker.fullname, worker.id] }, :include_blank => '---'
            = f.submit '休憩', class: 'rest_start_button'
        .button_box
          = form_with model: @shift, url: rest_time_end_shifts_path, method: :get,local: true do |f|
            = f.select :worker_id, Worker.all.map { |worker| [worker.fullname, worker.id] }, :include_blank => '---'
            = f.submit '戻り', class: 'rest_end_button'
    .footer
      %p 2019
      %p sample
      
-# = form_with model: @shift, url: shifts_path, method: :post, local: true do |f|
-#   = f.hidden_field :start_at
-#   = f.text_field :user_id, placeholder: 'id'
-#   = f.submit '出勤', class: 'start_button'
-# = form_with model: @shift, url: start_shifts_path, method: :get, local: true do |f|
-#   = f.text_field :user_id, placeholder: 'id'
-#   = f.hidden_field :start_at, value: Time.now
-#   = f.submit '出勤', class: 'start_button'
-# = form_with model: @shift, url: start_shifts_path, method: :get, local: true do |f|
-#   = f.hidden_field :end_at, value: Time.now
-#   = f.submit '退勤'