.main_wrapper
  .contents
    .header
      .header__name 店名: ---------------店
      .header__link
        = link_to '一覧', workers_path, class: 'signout_button'
        = link_to '登録', new_worker_path, class: 'signup_button'
        = link_to 'ログイン', new_user_session_path, class: 'signin_button'
        = link_to '新規登録', new_user_registration_path, class: 'signup_button'
        = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'signout_button'
    .main
      .side
      .clock_flame
        %span#clock_date ここに年月日が表示されるよ
        %span#clock_time ここに時間が表示されるよ
      .button_flame
        .button_box
          = form_with model: @shift, url: start_shifts_path, method: :get, local: true do |f|
            = f.text_field :worker_id, placeholder: 'id'
            = f.hidden_field :start_at, value: Time.now
            = f.submit '出勤', class: 'start_button'
        .button_box
          = form_with model: @shift, url: finish_shifts_path, method: :get, local: true do |f|
            = f.text_field :worker_id, placeholder: 'id'
            -# = f.hidden_field :end_at, value: Time.now
            = f.submit '退勤', class: 'end_button'
        .button_box
          = form_with model: @shift, url: rest_time_start_shifts_path, method: :get,local: true do |f|
            = f.text_field :worker_id, placeholder: 'id'
            -# = f.hidden_field :rest_start_at, value: Time.now
            = f.submit '休憩', class: 'rest_start_button'
        .button_box
          = form_with model: @shift, url: rest_time_end_shifts_path, method: :get,local: true do |f|
            = f.text_field :worker_id, placeholder: 'id'
            -# = f.hidden_field :rest_end_at, value: Time.now
            = f.submit '戻り', class: 'rest_end_button'
    .footer
      %p 2019
      %p sample
      
-# = form_with model: @shift, url: shifts_path, method: :post, local: true do |f|
-#   = f.hidden_field :start_at
-#   = f.text_field :user_id, placeholder: 'id'
-#   = f.submit '出勤', class: 'start_button'
-# = form_with model: @shift, url: start_shifts_path, method: :get, local: true do |f|
-#   = f.text_field :user_id, placeholder: 'id'
-#   = f.hidden_field :start_at, value: Time.now
-#   = f.submit '出勤', class: 'start_button'
-# = form_with model: @shift, url: start_shifts_path, method: :get, local: true do |f|
-#   = f.hidden_field :end_at, value: Time.now
-#   = f.submit '退勤'