.main_wrapper
  .contents
    = render 'shared/header'
  
    %h1 従業員一覧
    %table
      %tr
        %th 名前
        %th 出勤状態
        %th 扶養残り
        %th 編集・削除
      - @workers.each do |worker|
        %tr
          %td 
            = link_to worker.fullname, "/workers/#{worker.id}", class: 'name_box'
          %td 
            = t("activerecord.status.#{worker.status}")
          %td 
            = number_to_currency(1080000 - worker.wages.totals, :unit => "円")
          %td
            = link_to '編集', edit_worker_path(worker), class: 'name_box'
            = link_to '削除', worker_path(worker), method: :delete, class: 'name_box', data: { confirm: '本当に削除しますか？' }
        
  