.main_wrapper
  .contents
    = render 'shared/header'
 
    %h1= @worker.fullname + '(仮)'
    %table
      %tr
        %th 日付
        %th 基本給
        %th 超勤
        %th 深夜
        %th 合計
        %th まかない
      - @worker.wages.each do |wage|
        %tr
          %td= wage.created_at.strftime('%Y/%m/%d')
          %td= wage.base
          %td= wage.long
          %td= wage.night
          %td= wage.total
          %td= wage.meals

    


    
  
  
